*.synctex.gz
*.eps
*.bib.sav
*.bib.bak
*.bbl
*.aux
*.blg
*.log
*.out
*.tar
papers/sigqdyn_tr*.pdf
papers/references/
papers/working/octave_data_buggedDELETEME/
papers/working/octave_data/blameshift_unresp_qt_out*
papers/working/octave_data/*.pdf

